@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  background-image: url("/assets/images/desktop/image-hero.jpg");
}
header nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 5dvh;
}
header nav .flex-container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
header nav .logo {
  max-width: 100%;
  height: auto;
}
header nav .nav-link {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", serif, sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
header nav .div-text {
  border: 1px solid hsl(0, 0%, 55%);
  padding-top: 5dvh;
  margin-top: 10dvh;
  margin-bottom: 15dvh;
  width: 65dvh;
  height: 30dvh;
  position: relative;
  left: 10dvh;
}
header nav .div-text .first-text {
  font-family: "Alata", sans-serif;
  font-weight: 100;
  color: hsl(0, 0%, 100%);
  margin-left: 3dvh;
  font-size: 2.2rem;
}

main #container {
  margin: 10dvh;
  display: flex;
  flex-wrap: wrap;
}
main #container .picture {
  position: absolute;
}
main #container .picture .guy-photo {
  max-width: 100%;
  height: auto;
}
main #container .text {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  padding: 8dvh;
  left: 90dvh;
  top: 35dvh;
  height: 50dvh;
}
main #container .text .first-title {
  font-family: "Alata", serif, sans-serif;
  color: hsl(0, 0%, 0%);
  margin-bottom: 4dvh;
}
main #container .text .second-text {
  font-family: "Alata", serif, sans-serif;
  color: hsl(0, 0%, 55%);
}
main #main-content {
  position: relative;
  margin-top: 50dvh;
  margin-left: 10dvh;
  display: flex;
}
main #main-content .secondary-title {
  font-size: 3rem;
  font-family: "Alata", sans-serif, serif;
  font-weight: 100;
  color: hsl(0, 0%, 0%);
}
main #main-content .btn {
  position: relative;
  left: 120dvh;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  width: 20dvh;
  height: 6dvh;
  font-family: "Josefin Sans", sans-serif, serif;
  cursor: pointer;
}
main .card-grid, main .new-card-grid {
  margin-top: 5dvh;
  margin-left: 5dvh;
  margin-bottom: 7dvh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
main .card-grid .card-img, main .new-card-grid .card-img {
  border-radius: 1dvh;
}
main .card-grid .card-paragraph, main .new-card-grid .card-paragraph {
  position: relative;
  bottom: 7dvh;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  font-family: "Josefin Sans", sans-serif, serif;
}

footer {
  background-color: hsl(0, 0%, 0%);
  padding-bottom: 3dvh;
}
footer .footer-container {
  display: flex;
  justify-content: space-around;
  padding-top: 4dvh;
  padding-bottom: 4dvh;
}
footer .footer-container i {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-size: 3.5dvh;
}
footer .flex-footer-container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
}
footer .flex-footer-container .footer-nav-link {
  color: hsl(0, 0%, 100%);
  font-family: "Alata", serif, sans-serif;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */